:root {
    --green: #02c39a;
    --darkergreen: #015f4a;
    --dark: #3c3c3c;
    --lightgrey: #cccccc;
    --red: #920000;
    --card--bg: #071013;
}

.sticky {
    position: sticky;
    top: 5%;
}

nav a:hover,
li a:hover,
button:hover,
.input-group-text {
    background-color: var(--green) !important;
    color: white !important;
}

a, 
hr,
.fs-1,
.fs-3,
.fs-5,
.btn-outline-success {
    color: var(--green);
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger, 
.input-group-text,
.pcs {
    border: none;
    outline: none;
}

#carouselExampleAutoplaying {
    max-height: 400px !important;
}

.carousel-inner img,
.card img {
    max-height: 400px !important;
    object-fit:cover;
}

.btn-secondary:hover {
    background-color: var(--dark) !important;
}

.btn-primary:hover {
    background-color: var(--darkergreen) !important;
}

.btn-primary {
    background-color: var(--green);
}

.btn-danger:hover {
    background-color: var(--red) !important;
}

.btn-success:hover {
    background-color: var(--darkergreen) !important;
}

::placeholder{
    color: var(--lightgrey) !important;
}

input[type=text]:focus,
textarea:focus,
input[type=number]:focus {
    border: 3px solid var(--green) !important;
}

.card {
    background-color: var(--card--bg) !important;
    color: white !important;
    min-height: 550px !important;
}

.card:hover {
    scale: 1.05;
    transition-duration: 1s;
}

.card:not(:hover) {
    scale: 1;
    transition-duration: 1s;
}

.pcs,
.pcs:focus {
    max-width: 50px;
    border: none !important;
}

input[type="checkbox"]:checked {
    background-color: var(--green) !important;
    border: none;
    height: 30px;
    width: 50px !important;
}

input[type="checkbox"]:not(:checked) {
    background-color: white !important;
    height: 30px;
    width: 50px !important;
}